export(bjerrum,
	   bor,
	   buffer,
	   carb,
	   convert,
	   K1,
	   K1p,
	   K2,
	   K2p,
	   K3p,
	   Kb,
	   Kconv,
	   Kf,
	   Kh,
	   Khs,
	   Kn,
	   Ks,
	   Ksi,
	   Kspa,
	   Kspc,
	   Kw,
	   pCa,
	   pgas,
	   pHconv,
	   pHinsitu,
	   pmix,
	   ppH,
	   pTA,
	   rho,
	   speciation,
	   stp,
	   "stp<-",
	   swconc,
	   swpH)

S3method(print, stp)
S3method("[", swobj)
S3method(as.data.frame, swobj)
S3method(print, swconc)
S3method(convert, swconc)
S3method(print, swpH)
S3method(convert, swpH)
S3method(print, swK)
S3method(plot, speciation)
